*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   font-family: 'spartan' , sans-serif;

}

h1{
   font-size: 50px;
   line-height: 64px;
   color: #1a1a1a;
}

h2 {
   font-size: 46px;
   line-height: 54px;
   color: #1a1a1a;
}

h4 {
   font-size: 20px;
   color: #1a1a1a;
}

h6 {
   font-weight: 700;
   font-size: 12px;

}

p {
   font-size: 16px;
   color: #465b52;
   margin: 15px 0 20px 0;

}

body {
   width: 100%;
}
.section-1{
   padding: 40px 80px;
}
#header{
   display:flex;
   align-items:center ;
   justify-content: space-between;
   padding: 20px 80px ;
   background: white;
   box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
   z-index: 999 ;
   position: sticky;
   top: 0;
   left: 0;
}

#navbar {
   display: flex;
   align-items: center;
   justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a{
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   color: #1a1a1a ;
   transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
      color: aqua;
}
#navbar li a.active::after,
#navbar li a:hover::after {
   content: "";
   width: 30%;
   height: 2px;
   background: #088178;
   position: absolute;
   bottom: -4px;
   left: 20px;

}

#dk{
   background: url('https://i.imghippo.com/files/ffhVW1722708156.png');
   height: 90vh;
   width: 100%;
   background-size: cover;
   background-position: top 25% right 0;
   padding: 0 80px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

#dk h4{
   padding-bottom: 15px;
}

#dk h1{
   color: greenyellow;
}

#dk button{
   background-color:rgb(176, 7, 210);
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   font-weight: 600;
}

#feature .fe-box{
   width: 180px;
   text-align: center;
   padding: 25px 15px;
   box-shadow: 20px 20px 34px rgba(0, 0, 0,0.03);
   border: 1px solid #cce7d0;
   border-radius: 4px;
   margin: 15px 0;

}
#feature .fe-box:hover{
     box-shadow: 10px 10px 54px rgba(0, 0, 0,0.03);
}

#feature .fe-box h6{
   display: inline-block;
   padding: 9px 8px 6px 8px;
   line-height: 1;
   border-radius: 4px;
   color: rgb(226, 54, 180);
   background-color: burlywood;

}
#feature .fe-box img {
     width: 100%;
     margin-bottom: 10px;
}
#feature{
   display:flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

#feature .fe-box:nth-child(2) h6 {
   background-color: aqua;
}

#feature .fe-box:nth-child(3) h6 {
   background-color: rgb(27, 224, 20);
}

#feature .fe-box:nth-child(4)h6{
   background-color: rgb(126, 172, 222);
}

#feature .fe-box:nth-child(5) h6 {
   background-color: rgb(241, 252, 123);
}

#feature .fe-box:nth-child(6) h6 {
   background-color: rgb(149, 226, 199);
}

#product1 {
     text-align: center;
}

#product1 .fp{
   width: 23%;
   min-width: 250px;
   padding: 10px 12px;
   border: 1px solid #cce7d0;
   border-radius:25px;
   cursor: pointer;
   box-shadow: 20px 20px 30px rgba(0, 0, 0,0.03) ;
   margin: 15px 0;
   transition: 0.2s ease;
   position: relative;
}

#product1 .fp img{
   width: 100%;
   border-radius:20px;
}

#product1 .fp:hover{
   box-shadow: 20px 20px rgba(0, 0, 0,0.06) ;

}

#product1 .fp .des{
   text-align: start;
   padding: 10px 0;
}

#product1 .fp .des span{
   color: lightslategray;
   font-size: 12px;
}

#product1 .fp .des h5{
   padding-top: 7px;
   color: #1a1a1a;
   font-size: 14px;

}
#product1 .fp .des i{
   font-size: 12px;
   color: rgb(201, 210, 27);
}

#product1 .fp .des h4{
     padding-top: 7px;
     font-size: 15px;
     font-weight: 700;
     color: cadetblue;
}

#product1 .fp .cart{
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50px;
   background-color: #e8f6ea;
   font-weight: 500;
   color: aquamarine;
   border: 1px solid #cce7d0 ;
   position: absolute;
   bottom: 20px;
   right: 10px;
}

#product1 .feature-p{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


.original-price {
    text-decoration: line-through;
    color: #888; /* Gray color for the original price */
    margin-right: 10px;
}

.discounted-price {
    color: #f00; /* Red color for the discounted price */
    font-weight: bold;
}

#banner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-image: url(https://i.ibb.co/6yFnNjx/b16.jpg);
   width: 100%;
   height: 40vh;
   background-size: cover;
   background-position: center;
}

#banner h2 span {
   color: red;
}

.section-2 {
   margin: 40px 0;
}
.buy-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.buy-btn:hover {
    background-color: #45a049;
}


button.normal{
   font-size: 14px;
   font-weight: 600;
   padding: 15px 30px;
   color: #000;
   background-color: #fff;
   border-radius: 4px;
   cursor: pointer;
   border: none;
   outline: none;
   transition: 0.2s;
}
 #banner button:hover{
   background: #088178;
   color: #fff;
 }

 #new-banner .banner-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   text-align: center;
   background-image: url(https://i.ibb.co/j44mmzt/b17.jpg);
   min-width: 650px;
   height: 50vh;
   background-size: cover;
   background-position: center;
   margin-left: 70px;
   padding: 30px;
 }

 #new-banner{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 #new-banner h2{
   color: #fff ;
   font-size: 20px;
   font-weight: 300;
 }

 #new-banner span{
   color: #fff ;
   font-size: 14px;
   font-weight: 500;
 }

 button.white{
   font-size: 14px;
   font-weight: 600;
   padding: 15px ;
   color: #000;
   background-color:sandybrown;
   border-radius: 4px;
   cursor: pointer;
   border: none;
   outline: none;
   transition: 0.2s;
}

#new-banner button:hover{
   background: #088178;
   color: #fff;
 }
 #new-banner .banner-box2{
   background-image: url(https://i.ibb.co/x7N7pDq/b10.jpg);
 }

 #banner3 .banner-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   text-align: center;
   background-image: url(https://i.ibb.co/tQtf8DB/b7.jpg);
   min-width: 30%;
   height: 30vh;
   background-size: cover;
   background-position: center;
   padding: 20px;
   margin-bottom: 20px;
 }

 #banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
 }

 #banner3 h3{
   color: #dd6363;
   font-weight: 800;
   font-size: 15px
 }
 

 #banner3{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0 80px;
   
 }

 #banner3 .banner-box2{
      background-image: url(https://i.ibb.co/bRC9C78/b4.jpg);
 }

 #banner3 .banner-box3{
      background-image: url(https://i.ibb.co/RcnHhZG/b18.jpg);
 }

 #nletter{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   background-image:url(https://i.ibb.co/YtXrcTs/b14.png);
   background-repeat: no-repeat;
   background-position: 20% 30%;
   background-color: #041e42;
 }

 #nletter h4{
     font-size: 22px;
     font-weight: 700;
     color: #fff;
 }

 #nletter p{
   font-size: 14px;
   font-family: 400px;
   color: #818ea0;
 }

 #nletter p{
   font-size: 14px;
   font-weight: 600;
   color: #818ea0;
 }

 #nletter p span{
   color: burlywood;
 }

 #nletter input{
   height: 3.125rem;
   padding: 0 1.25em;
   font-size: 100%;
   width: 100%;
   border: 1px solid transparent ;
   border-radius: 4px;
   outline: none;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;

 }
 #nletter button {
    background-color: #10ccd2;
    color: #fff;
    white-space: nowrap ;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
 }

 #nletter .form{
   display: flex;
   width: 40%;

 }

 footer {
   display:flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 footer col{
   display:flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 20px;
 }

 footer .logo{
   margin-bottom: 30px;

 }

 footer h4{
    font-size: 14px;
    padding-bottom: 20px;

 }
 footer p{
   font-size: 13px;
    margin: 0 0 8px 0;
   
}

footer a {
   font-size: 13px;
   text-decoration: none;
   color:#222;
   margin-bottom: 10px;
}

footer .follow i {
   color: #465b52;
   padding-right: 4px;
   cursor: pointer;
}

footer .install .row img{
      border: 1px solid #088178;
      border-radius: 6px;

}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover
footer a:hover {
   color: #088178;
}

footer .copyright{
   width:100px;
   text-align: center;
   
}

@media (max-width:799px){
        #navbar {
         display:flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         position: fixed;
         top: 0;
         right: 0px;
         height: 100vh;
         width: 300px;
         background-color: #e3e6f3;
         box-shadow: 0 40px 60px rgba(0,0,0, 0.1);
         padding: 80px 0 0 10px;

        }
}